---
import type { CollectionEntry } from "astro:content";
import BlackButton from "@/components/ui/buttons/BlackButton.astro";
import Tag from "@/components/ui/Tag.astro";

interface Props {
    project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<div
    class="w-full flex flex-col justify-start items-start rounded-2xl text-left flex-2 border border-black/10 p-5 font-cascadia"
>
    <div>
        <div
            class="inline-flex items-center px-4 py-2 text-sm font-medium leading-none text-green-700 bg-green-100 rounded-lg"
        >
            <span class="relative flex h-2 w-2 mr-2">
                <span
                    class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-65"
                ></span>
                <span
                    class="relative inline-flex rounded-full h-2 w-2 bg-green-500"
                ></span>
            </span>
            {project.data.status == "live" && "Online"}
            {project.data.status == "outdated" && "Not Online"}
            {project.data.status == "inProgress" && "In Progress"}
        </div>
    </div>
    <h1 class="font-semibold text-4xl mt-5">{project.data.title}</h1>
    <h2 class="lg:text-xl text-xl mt-5">
        {project.data.description}
    </h2>
    <div class="mt-10">
        <h2 class="text-left text-sm">TECH I'VE USED</h2>
        <div class="flex justify-start flex-wrap gap-2">
            {project.data.techUsed.map((tech) => <Tag title={tech} />)}
        </div>
        <div class="flex flex-wrap justify-start gap-4 mt-10">
            {
                project.data.repoLink && (
                    <BlackButton
                        title="Open Repository"
                        link={project.data.repoLink}
                        iconClass="fa-brands fa-github"
                    />
                )
            }

            {
                project.data.liveLink && (
                    <BlackButton
                        title="Demo"
                        link={project.data.liveLink}
                        iconClass="fa-solid fa-link"
                    />
                )
            }
        </div>
    </div>
</div>
